@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content {
    display: flex;
    flex-direction: row;
    column-gap: 525px;
}

.navigation {
    column-gap: 50px;
}

.nusa-content {
    display: flex;
    flex-direction: row;
    column-gap: 200px;
}

.logo-text {
    color: #fff;
}

.nusa-foto {
    max-width: 598px;
    width: 100%;
    height: 720px;
}

.nusa-types {
    color: #fff;
    row-gap: 27px;
}

.nusa-name {
    color:#FBD784;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    padding-top: 90px;
}

.nusa-title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}

.nusa-text {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}